<a href="https://colab.research.google.com/github/abdulrah77/R_CaseStudy/blob/main/youtube_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Importing Libraries**

In [ ]:
#import libraries
from IPython.display import JSON
import pandas as pd
from googleapiclient.discovery import build
import time
import requests

In [ ]:
!pip install --upgrade google-api-python-client --quiet

In [ ]:
#Keys
API_KEY ='AIzaSyCe6jVb4NV8gL2MMPZwwcQJbT_4nwApYiM'
channel_id = 'UCW8Ews7tdKKkBT6GdtQaXvQ'

**Defining Funcions**

Get Video details using Youtube API

In [ ]:
def get_videos(df):
  pageToken =""
  url = "https://www.googleapis.com/youtube/v3/search?key=" +API_KEY+"&channelId="+channel_id+"&part=snippet,id&order=date&maxResults=1000"+pageToken
  response = requests.get(url).json()
  time.sleep(1)

  for video in response['items']:
    if video['id']['kind']== "youtube#video":
      video_id= video['id']['videoId']
      video_title=video['snippet']['title']
      #upload_date = str(video['snippet']['publishedAt']).split("T")[0]

      view_count,like_count, comment_count = get_video_details(video_id)
      #save data in pandas df
      df=df.append({'video_id':video_id,'video_title':video_title, 'view_count':view_count,'like_count':like_count, 'comment_count':comment_count  }, ignore_index=True)
      
  return df

In [ ]:
def get_video_details(video_id):
  url_video="https://www.googleapis.com/youtube/v3/videos?id="+video_id+"&part=statistics&key="+API_KEY
  response = requests.get(url_video).json()
  view_count=response['items'][0]['statistics']['viewCount']
  like_count=response['items'][0]['statistics']['likeCount']
  # dislike_count=
  comment_count=response['items'][0]['statistics']['commentCount']

  return view_count,like_count, comment_count

In [178]:
# Creating the DataFrame
df = pd.DataFrame(columns=["video_id","video_title","view_count","like_count","comment_count"])

df = get_videos(df)

In [179]:
df.head()
#Check why the two upload_date columns are created?

,video_id,video_title,view_count,like_count,comment_count
0,jN5hpgBrz8k,Dealing With Python Date Manipulations In a Me...,1965,67,7
1,yFyyP_Uvxj0,How To Solve Data Science Probability Intervie...,1738,58,2
2,Av92CaPTRr8,How to use SQL window functions: RANK vs DENSE...,2196,66,8
3,VEjxlKBkZGM,Amazon Data Science Interview Question Walkthr...,5444,173,20
4,hMUf7DqG1nQ,SQL Basics: How to Join Multiple Tables in SQL...,3112,91,6

In [ ]:
#del df['upload_date']

In [ ]:
!pip install mysql.connector

Requirement already satisfied: mysql.connector in /usr/local/lib/python3.7/dist-packages (2.2.9)

In [ ]:
!pip install PyMySQL

Requirement already satisfied: PyMySQL in /usr/local/lib/python3.7/dist-packages (1.0.2)

In [141]:
! pip install sqlalchemy

Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.7/dist-packages (1.4.32)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.7/dist-packages (from sqlalchemy) (1.1.2)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from sqlalchemy) (4.11.3)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy) (3.10.0.2)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy) (3.7.0)

Uploading DataFrame to the MySQL Database

In [144]:
#importing my sql connector
# import mysql.connector as mc
import pymysql as ps
import sqlalchemy as sa

Connecting to the Database

In [ ]:
def connect(hostname,port,username, password):
  try:
    conn = ps.connect(host=hostname , port= port, user= username, password=password)
  except ps.OperationalError:
    raise ps.OperationalError
  else:
    print('Connected!')
  return conn

In [ ]:
#update row if video exists
def update_row(curr,video_title, view_count ,like_count, comment_count, video_id):
  query= ('''UPDATE aakash_youtube
             SET video_title =%s,
                 view_count =%s,
                 like_count =%s,
                 comment_count =%s,
             WHERE video_id == %s;,
          ''')
  var_to_update =( video_title, view_count ,like_count, comment_count, video_id )
  curr.execute(query,(var_to_update))

In [ ]:
#Creating a table
def create_table(curr):
  query =('''CREATE TABLE IF NOT EXISTS aakash_youtube (
            
            video_id VARCHAR(255) PRIMARY KEY,
            video_title TEXT NOT NULL,
            view_count INTEGER NOT NULL,
            like_count	INTEGER NOT NULL,
            comment_count INTEGER NOT NULL)

            ''')
  curr.execute(query)

In [ ]:
#Check to see if video exists
def check_if_video_exists(curr, video_id):
  query = (""" SELECT video_id FROM aakash_youtube WHERE video_id = %s""")
  curr.execute(query,(video_id,))

  return curr.fetchone() is not None

In [ ]:
#Check to see if video exists
def update_db(curr,df):
  tmp_df = pd.DataFrame(columns=['video_id', 'video_title', 'view_count', 'like_count', 'comment_count'])
  print(tmp_df.columns.tolist())
  for i,row in df.iterrows():
    if check_if_video_exists(curr,row['video_id']):
        update_row(curr, row['video_id'],row['video_title'], row['view_count '],row['like_count'], row['comment_count'])
    else:
        tmp_df = tmp_df.append(row)
        #print(i)
        #print(row)
        pass
  return tmp_df

In [ ]:
#write insert function
def insert_into_table(curr, video_id, video_title, view_count, like_count, comment_count):
  print("check1")
  if (view_count is None):
    view_count = 0
  elif (like_count is None):
    like_count = 0
  elif (comment_count is None):
    comment_count =0
  else:
    insert_into_videos = (""" INSERT INTO aakash_youtube (video_id,video_title,view_count,like_count,comment_count) VALUES(%s,%s,%s,%s,%s);""")
    print("Test")
    row_to_insert = (video_id, video_title, view_count, like_count, comment_count)
    print(video_title)
    curr.execute(insert_into_videos, row_to_insert)

In [ ]:
def append_from_df_to_db(curr,df):
  print(df.columns.tolist())
  for i,row in df.iterrows():
    insert_into_table(curr,row.get('video_id'),row.get('video_title'), row.get('view_count '),row.get('like_count'), row.get('comment_count'))
    print(i)

In [ ]:
#storing database connection details
hostname = 'database-2.cimnlngca8v0.ap-south-1.rds.amazonaws.com'
dbname = 'database-2'
port = 3306
username = 'admin'
password = 'mypassword'
conn = None

In [150]:
from sqlalchemy import create_engine

In [155]:
#install mysqlclient for MYSQL DB error caused by the engine
!pip install mysqlclient

In [159]:
engine = create_engine(f"mysql://{username}:{password}@{hostname}/youtubedata",echo = True)

In [181]:
connection = engine.connect()

In [164]:
df.set_index(df['video_id']	)
df.head()

,video_id,video_title,view_count,like_count,comment_count
0,jN5hpgBrz8k,Dealing With Python Date Manipulations In a Me...,1951,66,7
1,yFyyP_Uvxj0,How To Solve Data Science Probability Intervie...,1738,58,2
2,Av92CaPTRr8,How to use SQL window functions: RANK vs DENSE...,2193,65,8
3,VEjxlKBkZGM,Amazon Data Science Interview Question Walkthr...,5442,173,20
4,hMUf7DqG1nQ,SQL Basics: How to Join Multiple Tables in SQL...,3111,91,6

In [180]:
df.to_sql("aakash_youtube",con=engine, if_exists='append', index= False)

2022-03-28 19:35:46,382 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %s AND table_name = %s

INFO:sqlalchemy.engine.Engine:SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %s AND table_name = %s

2022-03-28 19:35:46,387 INFO sqlalchemy.engine.Engine [cached since 596.3s ago] ('youtubedata', 'aakash_youtube')

INFO:sqlalchemy.engine.Engine:[cached since 596.3s ago] ('youtubedata', 'aakash_youtube')

2022-03-28 19:35:46,816 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2022-03-28 19:35:46,823 INFO sqlalchemy.engine.Engine INSERT INTO aakash_youtube (video_id, video_title, view_count, like_count, comment_count) VALUES (%s, %s, %s, %s, %s)

INFO:sqlalchemy.engine.Engine:INSERT INTO aakash_youtube (video_id, video_title, view_count, like_count, comment_count) VALUES (%s, %s, %s, %s, %s)

2022-03-28 19:35:46,829 INFO sqlalchemy.engine.Engine [generated in 0.00775s] (('jN5hpgBrz8k', 'Dealing With Python Date Manipulations In a Meta/Facebook Data Science Interview Question', '1965', '67', '7'), ('yFyyP_Uvxj0', 'How To Solve Data Science Probability Interview Questions | Meta/Facebook Example', '1738', '58', '2'), ('Av92CaPTRr8', 'How to use SQL window functions: RANK vs DENSE_RANK in Data Science Interviews', '2196', '66', '8'), ('VEjxlKBkZGM', 'Amazon Data Science Interview Question Walkthrough | How to Deal with Streaks in SQL', '5444', '173', '20'), ('hMUf7DqG1nQ', 'SQL Basics: How to Join Multiple Tables in SQL and the Importance of LEFT JOIN vs INNER JOIN', '3112', '91', '6'), ('ToEl_tpyoM4', 'Uber Data Science Python Interview Question Walkthrough', '17649', '444', '24'), ('30hS-MjpU6E', 'SQL Syntax Best Practices: How to Structure Your SQL Code', '9123', '413', '44'), ('Bgpp99iz0I0', 'Most Common Coding Mistakes on Data Science Interviews', '4109', '194', '32')  ... displaying 10 of 49 total bound parameter sets ...  ('U9P4M4EPTgI', 'Intro to Real Data Science Interview Questions and Answers Series (Interview Walkthroughs)', '2859', '53', '6'), ('S7gKkRxlk1U', 'Real Data Science Interview Question From Facebook | Friend Acceptance Rate (Interview Walkthrough)', '5210', '97', '12'))

INFO:sqlalchemy.engine.Engine:[generated in 0.00775s] (('jN5hpgBrz8k', 'Dealing With Python Date Manipulations In a Meta/Facebook Data Science Interview Question', '1965', '67', '7'), ('yFyyP_Uvxj0', 'How To Solve Data Science Probability Interview Questions | Meta/Facebook Example', '1738', '58', '2'), ('Av92CaPTRr8', 'How to use SQL window functions: RANK vs DENSE_RANK in Data Science Interviews', '2196', '66', '8'), ('VEjxlKBkZGM', 'Amazon Data Science Interview Question Walkthrough | How to Deal with Streaks in SQL', '5444', '173', '20'), ('hMUf7DqG1nQ', 'SQL Basics: How to Join Multiple Tables in SQL and the Importance of LEFT JOIN vs INNER JOIN', '3112', '91', '6'), ('ToEl_tpyoM4', 'Uber Data Science Python Interview Question Walkthrough', '17649', '444', '24'), ('30hS-MjpU6E', 'SQL Syntax Best Practices: How to Structure Your SQL Code', '9123', '413', '44'), ('Bgpp99iz0I0', 'Most Common Coding Mistakes on Data Science Interviews', '4109', '194', '32')  ... displaying 10 of 49 total bound parameter sets ...  ('U9P4M4EPTgI', 'Intro to Real Data Science Interview Questions and Answers Series (Interview Walkthroughs)', '2859', '53', '6'), ('S7gKkRxlk1U', 'Real Data Science Interview Question From Facebook | Friend Acceptance Rate (Interview Walkthrough)', '5210', '97', '12'))

2022-03-28 19:35:47,047 INFO sqlalchemy.engine.Engine COMMIT

INFO:sqlalchemy.engine.Engine:COMMIT

In [ ]:
conn = connect(hostname,port,username,password)
curr = conn.cursor()

Connected!

In [ ]:
query = ''' CREATE DATABASE IF NOT EXISTS youtubedata'''

In [ ]:
curr.execute(query)

1

In [ ]:
# conn.cursor().execute("select version()")

In [ ]:
query = '''USE youtubedata'''
curr.execute(query)

0

In [ ]:
curr.connection.commit()

In [ ]:
curr.execute("select version()")
print(curr.fetchone())

('8.0.27',)

In [ ]:
conn.commit()

In [ ]:
# df.columns.tolist()

Check if Table has been created

In [ ]:
create_table(curr)

In [ ]:
# query= 'show tables'
# curr.execute(query)
# curr.fetchall()

In [ ]:
new_vid_df = update_db(curr,df)

['video_id', 'video_title', 'view_count', 'like_count', 'comment_count']

In [ ]:
df.head(30)

,video_id,video_title,view_count,like_count,comment_count
0,jN5hpgBrz8k,Dealing With Python Date Manipulations In a Me...,1951,66,7
1,yFyyP_Uvxj0,How To Solve Data Science Probability Intervie...,1738,58,2
2,Av92CaPTRr8,How to use SQL window functions: RANK vs DENSE...,2193,65,8
3,VEjxlKBkZGM,Amazon Data Science Interview Question Walkthr...,5442,173,20
4,hMUf7DqG1nQ,SQL Basics: How to Join Multiple Tables in SQL...,3111,91,6
5,ToEl_tpyoM4,Uber Data Science Python Interview Question Wa...,17646,444,24
6,30hS-MjpU6E,SQL Syntax Best Practices: How to Structure Yo...,9118,413,44
7,Bgpp99iz0I0,Most Common Coding Mistakes on Data Science In...,4109,194,32
8,GeJUvdkJKEc,Multiple Solutions to Data Scientist Interview...,6842,189,35
9,GGURenNfXI0,Multiple Approaches for Solving a Twitter Data...,4532,182,32
10,PlpUo6bHsBQ,Advanced Facebook Data Science SQL interview q...,17682,545,62
11,uY2wfR8Dkqo,5 Tips for a Successful Data Science Interview,8665,237,40
12,yY7yau9j3xk,Data Science SQL Scenario Based Interview Ques...,6063,162,27
13,i-E4pdU2qXM,Data Science SQL Interview Question Walkthroug...,5905,223,22
14,T1UhSuKqy3A,Most Common Data Science SQL Interview Questio...,9815,345,36
15,2iE3JgNTwVU,A Walkthrough of Data Science SQL Interview Qu...,4723,155,32
16,RgKMbpEylWA,Comparing FAANG vs Non-FAANG Data Science Inte...,2566,88,13
17,giGIPINLqJs,An Analysis of 900 Data Science Interview Ques...,3478,141,10
18,77IVf0zgmwI,Importing a Pandas Dataframe to a Database in ...,13402,458,51
19,xtbMCAVXDmU,Facebook and Microsoft Data Science SQL interv...,8131,248,59
20,fklHBWow8vE,Working with APIs in Python [For Your Data Sci...,30845,1454,97
21,tNXliLTlrV8,Step-by-step Approach to Solving Any Data Scie...,8188,284,39
22,XRwxYOhHdE8,Facebook&#39;s Most Common Data Science SQL In...,29256,708,54
23,pV_mnZgzXEo,Coding Concepts in Data Science Interviews in ...,4984,262,29
24,c4Af2FcgamA,The One and Only Data Science Project You Need,176912,10543,230
25,QenwDm5oWdU,Advanced Data Science SQL Interview Question [...,20147,685,101
26,TYHWv1vT0Pk,Common Date Manipulations on Data Science SQL ...,14090,523,79
27,0GpgMvyN0Fg,How I Learned Data Science (resources to get a...,11567,704,45
28,VYeevsVj4fU,Advanced SQL Questions From Amazon (Handling c...,18254,535,68
29,vLjAG9eXkcU,Solving Complex SQL Interview Questions [How t...,9530,306,61

In [ ]:
new_vid_df.head()

,video_id,video_title,view_count,like_count,comment_count
0,jN5hpgBrz8k,Dealing With Python Date Manipulations In a Me...,1951,66,7
1,yFyyP_Uvxj0,How To Solve Data Science Probability Intervie...,1738,58,2
2,Av92CaPTRr8,How to use SQL window functions: RANK vs DENSE...,2193,65,8
3,VEjxlKBkZGM,Amazon Data Science Interview Question Walkthr...,5442,173,20
4,hMUf7DqG1nQ,SQL Basics: How to Join Multiple Tables in SQL...,3111,91,6

In [ ]:
append_from_df_to_db(curr,new_vid_df)

In [ ]:
conn.commit()

In [183]:
test = pd.read_sql_table('aakash_youtube', connection)

2022-03-28 19:50:41,456 INFO sqlalchemy.engine.Engine SHOW FULL TABLES FROM `youtubedata`

INFO:sqlalchemy.engine.Engine:SHOW FULL TABLES FROM `youtubedata`

2022-03-28 19:50:41,464 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2022-03-28 19:50:41,680 INFO sqlalchemy.engine.Engine SHOW FULL TABLES FROM `youtubedata`

INFO:sqlalchemy.engine.Engine:SHOW FULL TABLES FROM `youtubedata`

2022-03-28 19:50:41,684 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2022-03-28 19:50:41,912 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `aakash_youtube`

INFO:sqlalchemy.engine.Engine:SHOW CREATE TABLE `aakash_youtube`

2022-03-28 19:50:41,916 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2022-03-28 19:50:42,153 INFO sqlalchemy.engine.Engine SELECT aakash_youtube.video_id, aakash_youtube.video_title, aakash_youtube.view_count, aakash_youtube.like_count, aakash_youtube.comment_count
FROM aakash_youtube

INFO:sqlalchemy.engine.Engine:SELECT aakash_youtube.video_id, aakash_youtube.video_title, aakash_youtube.view_count, aakash_youtube.like_count, aakash_youtube.comment_count
FROM aakash_youtube

2022-03-28 19:50:42,158 INFO sqlalchemy.engine.Engine [generated in 0.00452s] ()

INFO:sqlalchemy.engine.Engine:[generated in 0.00452s] ()

In [184]:
test.head()

,video_id,video_title,view_count,like_count,comment_count
0,_gy1o9UH2dQ,Hard SQL Interview Question From FACEBOOK | Da...,20638,440,69
1,0GpgMvyN0Fg,How I Learned Data Science (resources to get a...,11573,704,45
2,1SgHHQeRuxs,How I Prepare For My Data Science Interviews (...,4338,131,17
3,2iE3JgNTwVU,A Walkthrough of Data Science SQL Interview Qu...,4725,155,32
4,30hS-MjpU6E,SQL Syntax Best Practices: How to Structure Yo...,9123,413,44